@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
body {
	background: #e5e5e5;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
/*top*/
.box1 {
	height: 39px;
	background: #f2f2f2;
}
.box1 .p1 {
	font-size: 18px;
	font-weight: bold;
	color: #000;
	width: 380px;
	height: 39px;
	float: left;
	font-family: "华文新魏";
	margin-left: 212px;
}
.box1 p {
	line-height: 39px;
}
.box1 .p2 {
	width: 378px;
	height: 39px;
	font-size: 12px;
	color: #797979;
	float: right;
	margin-right: 212px;
}
.box1 .p1 span {
	font-size: 24px;
	font-weight: bold;
	color: #F00;
}
/*nav*/
.box2 {
	height: 89px;
	background: #FFF;
}
.box2 img {
	float: left;
	margin-left: 212px;
	margin-top: 10px;
}
.box2 nav {
	float: left;
	margin-left: 17px;
	margin-top: 27px;
}
.box2 nav ul {
}
.box2 nav ul li {
	float: left;
}
.box2 nav ul li a {
	font-size: 16px;
	font-weight: bold;
	color: #797979;
	display: block;
	width: 89px;
	height: 31px;
	border-radius: 10px 10px 10px 10px;
	text-align: center;
	line-height: 31px;
}
.box2 nav ul li a:hover {
	background: #3ca2ca;
	color: #FFF;
}
/*banner*/
.banner {
	height: 250px;
	background: #63b4d2;
}
.banner img {
	height: 250px;
	margin-left: 645px;
}
.content {
	width: 100%;
	min-height: 400px;
	height: auto !important;
}
.content .new-left {
	width: 250px;
	min-height: 400px;
	height: auto !important;
	float: left;
	margin-left: 212px;
}
.new-left img {
	float: right;
}
.new-left .new-left1 {
	width: 240px;
	height: 65px;
	background: #0f8eae;
	border-radius: 0 0 10px 10px;
	margin-left: 3px;
	margin-top: 10px;
}
.new-left .new-left1 p {
	font-size: 30px;
	color: #dddddd;
	font-weight: bold;
	text-align: center;
}
.new-left .new-left1 .w1 {
	font-size: 18px;
}
.new-left .nav-left {
	width: 240px;
	height: 120px;
	background: #d2dde3;
	margin-top: 10px;
}
.new-left .nav-left ul {
}
.new-left .nav-left ul li {
	text-align: center;
}
.new-left .nav-left ul li a {
	color: #000;
	font-size: 18px;
	border-bottom: 1px solid #FFF;
	display: block;
	width: 240px;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
}
.new-left .nav-left ul li a span {
	background: url(images/icn4.png) no-repeat;
	width: 15px;
	height: 15px;
	display: block;
	float: right;
	margin-top: 10px;
}
.new-left .nav-left ul li a:hover {
	background: #999;
	color: #FFF;
}
.new-left .nav-left ul li a:hover span {
	background: url(images/ivn3.png) no-repeat;
	margin-right: 10px;
}
.new-left .shipin-left {
	height: 253px;
	width: 240px;
	position: relative;
}
.new-left .shipin-left .span1 {
	position: absolute;
	background: url(images/icn5.png) no-repeat;
	width: 6px;
	height: 12px;
	display: block;
	margin-top: 15px;
}
.new-left .shipin-left .shipin-left1 {
	width: 150px;
	position: absolute;
	margin-left: 20px;
	font-size: 20px;
	color: #999;
	line-height: 40px;
}
.new-left .shipin-left .shipin-left2 {
	width: 50px;
	position: absolute;
	margin-left: 180px;
	color: #999;
	line-height: 40px;
}
.new-left .shipin-left3 {
	width: 240px;
	height: 3px;
	background: #747776;
	margin-top: 41px;
	position: absolute;
}
.new-left .shipin-left3 .shipin-left4 {
	height: 3px;
	width: 100px;
	background: #C90;
}
.new-left .shipin-left img {
	width: 240px;
	margin-top: 52px;
}
.new-left .shipin-left .shipin-left5 {
	margin-top: 50px;
	position: absolute;
}
.shipin-left .shipin-left5 ul li {
	display: block;
	width: 243px;
	height: 38px;
	float: left;
	line-height: 38px;
	font-size: 14px;
	color: #747776;
	border-bottom 	: 1px dotted #999999;
}
.new-left .shipin-left .shipin-left5 ul li span {
	font-size: 24px;
	color: #f9a449;
	font-weight: bold;
	width: 25px;
	display: block;
	float: left;
}
.new-left .shipin-left .shipin-left5 ul li a {
	font-size: 15px;
	color: #f9a449;
	font-weight: bold;
	float: right;
}
.new-left .shipin-left .shipin-left5 ul li a span {
	background: url(images/shou.png) no-repeat;
	width: 19px;
	height: 16px;
	display: block;
	float: left;
	margin-top: 11px;
}
.r-title {
	width: 550px;
	height: 40px;
	background: url(images/r-title.gif) no-repeat;
}
.r-title p {
	float: left;
	width: 100px;
	height: 40px;
	margin-left: 45px;
	line-height: 40px;
	color: #CCC;
	font-weight: bold;
	font-size: 20px;
}
.r-title .p1 {
	width: 350px;
	height: auto;
	float: right;
	font-size: 14px;
	font-weight: normal;
}
.line {
	width: 550px;
	height: 3px;
	background: #333;
	margin-top: 2px;
}
.line div {
	width: 80px;
	height: 3px;
	background: #990;
}
.content .box-right {
	width: 617px;
	position: absolute;
	margin-left:468px;
	height: 1000px;
}
.content .box-right .right-1 {
	width: 156px;
	float: left;
	height: 37px;
	line-height: 37px;
	color: #72777b;
	font-size: 24px;
	font-weight: bold;
	margin-top: 20px;
}
.content .box-right .right-1 span {
	background: url(images/r-title.gif) no-repeat;
	width: 37px;
	height: 37px;
	display: block;
	float: left;
}
.content .box-right .p3 {
	margin-left: 50px;
	width: 250px;
	float: right;
	height: 37px;
	line-height: 37px;
	font-size: 13px;
	color: #72777b;
	margin-top: 20px;
}
.content .box-right .p3 span {
	color: #eba02e;
}
.content .box-right .right-2 {
	width: 617px;
	height: 2px;
	background: #767a7e;
	position: absolute;
	margin-top: 64px;
}
.content .box-right .right-2 .right-2-1 {
	width: 137px;
	height: 2px;
	background: #FC0;
}
.content .box-right .right-3 {
	height: 116px;
	width: 617px;
	position: absolute;
	border-bottom: 1px dotted #999999;
	margin-top: 90px;
}
.content .box-right .span2 {
	background: url(images/icn.png)3px 3px no-repeat;
	width: 134px;
	height: 104px;
	display: block;
	float: left;
	border: 1px solid #999;
	padding: 1px;
}
.content .box-right dl {
	float: right;
	width: 470px;
}
.content .box-right dl dt {
	font-size: 14px;
	color: #72777b;
	font-weight: bold;
}
.content .box-right dl dd {
	font-size: 13px;
	color: #72777b;
	margin-top: 10px;
}
.content .box-right dl span {
	width: 50px;
	margin-left: 355px;
	color: #F93;
}
.content .box-right .right-4 {
	height: 116px;
	width: 617px;
	position: absolute;
	border-bottom: 1px dotted #999999;
	margin-top: 233px;
}
.content .box-right .right-5 {
	height: 116px;
	width: 617px;
	position: absolute;
	border-bottom: 1px dotted #999999;
	margin-top: 378px;
}
.content .box-right .right-6 {
	height: 116px;
	width: 617px;
	position: absolute;
	border-bottom: 1px dotted #999999;
	margin-top: 523px;
}
.content .box-right .right-7 {
	height: 116px;
	width: 617px;
	position: absolute;
	border-bottom: 1px dotted #999999;
	margin-top: 666px;
}
.content .box-right .right-8 {
	height: 116px;
	width: 617px;
	position: absolute;
	border-bottom: 1px dotted #999999;
	margin-top: 808px;
}
.content .box-right .right-9{ height:50px; position:absolute; 
margin-top:953px; margin-left:182px;}
.content .box-right .right-9 a{ width:40px; height:20px; display:block;
 float:left; text-align:center; color:#666; font-weight:bold;}
.content .box-right .right-9 a:hover{ background:#CCC; color:#FFF;}
.footer{ height:50px; background:#333; margin-top:590px;}
.footer .footer-1{ margin-left:138px;}
.footer a{ text-align:center; float:left; margin-left:37px; color:#666;
 padding-left:30px; line-height:50px;}












